<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Aviso de cancelación de tutoría</h1>
  <p>
    Estimado(a) usuario:<strong> <%= @candidate.user_name %> </strong>
    (<%= @candidate.email %>), se le notifica que el usuario:
    <strong> <%= @tutor.user_name %> </strong> (<%= @tutor.email %>) ha dejado de
    ser su tutor(a). Por su comprensión, gracias.
  </p>
</body>
</html>