<h1>Editar beca <%= @scholarship.name %></h1>

<%= render 'form' %>
<hr>
<%= link_to 'Show', @scholarship, class: "btn btn-info" %> 
<%= link_to 'Back', scholarships_path, class: "btn btn-danger" %>
<hr>
