<div>
  <h3 class="text-center">
    El propósito de este sistema es crear una red de estudiantes Mexicanos que estudian en
    Universidades de otros países, que ayuden a los estudiantes aquí en
    México a seguir sus pasos y estudiar en Universidades similares.
  </h3>
  <hr>
</div>

<div class="row">
  <h3 class="text-center text-info">El sistema cuenta información de: </h3><br>
  <div class="col-md-4 text-center">
    <div style="height: 200px; width: 200px; margin: auto">
      <%= image_tag("medium/scholarship.jpg", class: "img-circle", style: "width:100%; height:100%") %>
    </div>
    <h2>Becas</h2>
    <p>Lista de las becas que se encuentran registradas en este sistema, para que te enteres de todo.</p>
  </div>
  <div class="col-md-4 text-center">
    <div style="height: 200px; width: 200px; margin: auto">
      <%= image_tag("medium/university.jpg", class: "img-circle", style: "width:100%; height:100%") %>
    </div>
    <h2>Universidades</h2>
    <p>Lista de las universidades, para que escojsa cuál es la que mejor te conviene</p>
  </div>
  <div class="col-md-4 text-center">
    <div style="height: 200px; width: 200px; margin: auto">
      <%= image_tag("medium/selection_process.jpg", class: "img-circle", style: "width:100%; height:100%") %>
    </div>
    <h2>Procesos de selección</h2>
    <p>Lista de los detalles de un proceso de selección, para que no se te pase la fecha.</p>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <div style="height: 200px; width: 200px; margin: auto">
      <%= image_tag("medium/tutors.jpg", class: "img-circle", style: "width:100%; height:100%") %>
    </div>
    <h2>Tutores</h2>
    <p>Con la ayuda de nuestros tutores, podrás formarte para ingresar a la Universidad</p>
  </div>
</div>
