<%- model_class = UsersWorkMaterial -%>
<div class="page-header">
  <h1 class="header-text">
    <span class="glyphicon glyphicon-stats small-txt"></span> <%=t '.title', default: @users_work_material.work_material.name %></h1>
</div>
<%= render :partial => 'form' %>
