<footer class="footer">
  <div class="container">
    <div class="social-links">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="big">
              <span>Siguenos en: </span>
              <a href="https://www.facebook.com/DevelopersMexico">
                <i class="fa fa-facebook-official fa-2x"></i>Facebook
              </a>
              <a href="#">
                <i class="fa fa-twitter-square fa-2x"></i>Twitter
              </a>
              <a href="#">
                <i class="fa fa-google-plus-square fa-2x"></i>Google Plus
              </a>
              <a href="#">
                <i class="fa fa-linkedin-square fa-2x"></i>LinkedIn
              </a>
              <a href="https://github.com/AlexAriz/SIB">
                <i class="fa fa-github-square fa-2x"></i>GitHub
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <h6>Contáctanos</h6>
        <ul>
          <li><a href="#">Algo</a></li>
          <li><a href="#">Algo</a></li>
          <li><a href="#">Algo</a></li>
          <li><a href="#">Algo</a></li>
          <li><a href="#">Algo</a></li>
        </ul>
      </div>
      <div class="col-md-6 text-center">
        <h6>Contáctanos</h6>
        <ul>
          <li><a href="#">Algo</a></li>
          <li><a href="#">Algo</a></li>
          <li><a href="#">Algo</a></li>
          <li><a href="#">Algo</a></li>
          <li><a href="#">Algo</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>