/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require fontawesome
 *= require railsstrap
 *= require bootstrap-select
 *= require bootstrap_and_overrides
 *= require dataTables/jquery.dataTables
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require dataTables/extras/dataTables.responsive
 *= require dataTables/extras/dataTables.tableTools
 *= require_self
 *= require_tree .
 *= require commontator/application
 */

.page-header{
    margin-top: 5%;
}

/* Originalmente, así lo tiene bootstrap
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
*/

.navbar-default {
    background-color: #1A936F;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus  {
    background-color: #09776a;
    color: #FFF;
}

.dropdown-menu > li > a:hover {
    color: #09776a;
}

.btn-primary {
    background-color: #0a6e60;
    border-color: #0a6e60;
    padding: 0.5em 3em !important;
}

.primary {
    background-color: #0a6e60;
    border-color: #0a6e60;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.primary:hover,
.primary:active,
.primary:focus {
    background-color: #095A4D;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.small-txt {
    font-size: 0.7em;
}

.header-text {
    color: #07453b;
}

.footer {
    width: 100%;
    height: 100px;
    margin-top: 278px;
    background-color: #095A4D;
}

/* Carrusel personalizado
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 400px;
    background-color:#555;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
}

#SIB_carousel{
    /* margin-top: -136px; */
    margin-left: -106px;
    margin-right: -106px;
}